.top  {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.city, .user {
    font-size: 14px;
    color: #222222;
    line-height: 2;
    margin: 0 10px;
}
.search {
    display: flex;
    flex-grow: 1;
    height: 30px;

    align-items:  center;
    background: #ffffff;
    border-radius: 40px;
    padding: 0 10px;

}

.search input {
    width: 100%;
    font-size: 14px;
    outline: 0;
    border: 0;

}